.calculator {
    background: linear-gradient(90deg,rgb(204, 51, 51),rgb(0,0,0));
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 250px;
    margin: auto;
    border-radius: 5px;
  }
  
  button {
    border-radius: 50%;
    border-style: none;
    font-family: fantasy;
    font-size: 1.2em;
    padding: 10px;
  }
  
  #display {
    grid-column: 1 / span 4;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid black;
    text-align: right;
    margin-bottom: 10px;
  }
  